.dashHeader {
    width: 100%;
    height: 100px;
    padding-top: 15px;

    display: flex;
    flex-flow: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dashboard {
    width: 100vw;
}

.dashWindows {
    min-height: 100vh !important;
}